/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

/** Theme primary colors */
$clr-primary-a0: #cae327;
$clr-primary-a10: #d2e64a;
$clr-primary-a20: #d9e965;
$clr-primary-a30: #dfec7d;
$clr-primary-a40: #e6ef93;
$clr-primary-a50: #ecf2a9;

/** Theme surface colors */
$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

/** Theme tonal surface colors */
$clr-surface-tonal-a0: #222318;
$clr-surface-tonal-a10: #37382d;
$clr-surface-tonal-a20: #4d4d44;
$clr-surface-tonal-a30: #64645c;
$clr-surface-tonal-a40: #7c7c75;
$clr-surface-tonal-a50: #94958f;