@use "sass:color";

$red-container: #d01632;
$blue-container: #0066ff;
$green-container: #19c227;
$font-color: #e6e6e6;

//utilizamos color.scale porque darken y lighten están obsoletos. Para utilizarlo tenemos que importar sass:color

@mixin darken-color($bg-color, $amount, $font-color) {
  background-color: color.scale($bg-color, $lightness: -$amount);
  color: color.scale($font-color, $lightness: $amount);
}

@mixin lighten-color($bg-color, $amount, $font-color) {
  background-color: color.scale($bg-color, $lightness: $amount);
  color: color.scale($font-color, $lightness: -$amount);
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  font-family: system-ui,
    -apple-system,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  @media screen and (max-width: 800px) {
    flex-direction: row;
    justify-content: center;
  }

  & div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    & .box {
      min-width: 90px;
      width: 90px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $font-color;
      font-size: 1rem;
      border-radius: 5px;
    }

    & .base-color {
      min-width: 150px;
    }
  }
}

.container-1 {
  & .base-color {
    background-color: $red-container;
  }

  $i: 1;

  @while $i <=4 {
    & .darken-#{$i} {
      @include darken-color($red-container, $i * 20%, $font-color);
    }

    & .lighten-#{$i} {
      @include lighten-color($red-container, $i * 20%, $font-color);
    }

    $i: $i + 1;
  }
}

.container-2 {
  & .base-color {
    background-color: $blue-container;
  }

  $i: 1;

  @while $i <=4 {
    & .darken-#{$i} {
      @include darken-color($blue-container, $i * 20%, $font-color);
    }

    & .lighten-#{$i} {
      @include lighten-color($blue-container, $i * 20%, $font-color);
    }

    $i: $i + 1;
  }
}

.container-3 {
  & .base-color {
    background-color: $green-container;
  }

  $i: 1;

  @while $i <=4 {
    & .darken-#{$i} {
      @include darken-color($green-container, $i * 20%, $font-color);
    }

    & .lighten-#{$i} {
      @include lighten-color($green-container, $i * 20%, $font-color);
    }

    $i: $i + 1;
  }
}