$base-color: blue;
$important-color: darken($base-color, 20%);
$warning-color: lighten($base-color, 40%);
$primary-font: Arial, sans-serif;
$secondary-font: Arial, sans-serif;
$radius: 5px;
$shadow: 10px 8px 10px rgba(0, 0, 0, 0.5);

